:root {
  --primary-blue: #092E58;
  --primary-white: #FFFFFF;
  --secundary-green: #CFFD00;
  --secundary-very-green: #019A34;

  --font-family-baloo: Baloo;
  --font-family-roboto: Roboto;
  --font-family-mulish: Milish;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/Imagem_Uvas.png');
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

nav {
  border-radius: 0px 0px 50px 50px;
}

#navbar {
  background: var(--primary-blue);
  max-height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar img {
  margin-left: 50px;
}

#nav-links {
  display: flex;
  gap: 30px;
  margin-right: 100px;
}

.nav-link {
  list-style: none;
  font-family: var(--font-family-baloo);
  color: var(--primary-white);
  font-weight: 400;
  font-size: 18px;
  height: 20px;
  cursor: pointer;
}

.nav-link p {
  font-family: 15px;
  color: var(--primary-blue);
}

.nav-link:hover {
  color: var(--secundary-green);
}

.nav-link.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-navbar {
  width: 210px;
  height: 40px;
  background: var(--secundary-green);
  font-family: var(--font-family-baloo);
  border-radius: 25px;
  color: var(--primary-blue);
  font-size: 15px;
  line-height: 13px;
  cursor: pointer;
}

/* Main */

main {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#form {
  width: 470px;
  height: 530px;
  background: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}

#form input {
  width: 85%;
}

.form-input {
  height: 8%;
  padding-left: 10px;
  background: #F6F6F6;
  border: 1px solid #E1E1E1;
  font-family: var(--font-family-mulish);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9DA7BB;
}

.form-input-ta {
  width: 85%;
  height: 15%;
  padding-left: 10px;
  padding-top: 10px;
  background: #F6F6F6;
  border: 1px solid #E1E1E1;
  font-family: var(--font-family-mulish);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: start;
  color: #9DA7BB;
}

#btn-form {
  width: 120px;
  height: 50px;
  background: var(--secundary-very-green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px;
  border: none;
  color: var(--primary-white);
  font-family: var(--font-family-roboto);
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: var(--primary-white);
  cursor: pointer;
}

.form-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.title-form {
  width: 380px;
  height: 50px;
  font-family: var(--font-family-roboto);
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  color: var(--secundary-very-green);
}

.sub-title-form {
  width: 300px;
  height: 40px;
  font-family: var(--font-family-mulish);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #818A91;
}